
<app-otp *ngIf="next" [otp]="otp" [email]="email"></app-otp>
<body *ngIf="!next">
    <div class="wrapper">
      <img sr>
      <h1>Forgot Password</h1>
      <h2>To Recover Your Account Enter The Registered E-mail</h2>
      <div class="inputs">
        <div class="field">
          <span class="material-icons" id="msg">email</span>
          <input type="text" placeholder="Enter Your E-Mail Address" [(ngModel)]="email" name="email" required>
        </div>
        <button (click)="sendmail()" type="submit">Send</button>
      </div>
      <div class="link1">
        <p>Back To <a href="#" routerLink="/login">Signin.</a></p>
      </div>
    </div>
  </body>
  