<div class="head">
 <div class="Content">
    <h3 class="h6">Welcome to our</h3>
    <h2 class="h5"> ToDo Tracker</h2>
    <h4 class="h4"> It's a list of tasks you need to complete or things that you want to do.</h4>
    <button mat-button  class="but"routerLink="/login">Login</button>  
  </div>
</div>
<div class="head1" id="aboutus">
  <div class="adout">
    <h3>About Us</h3>
  </div>
  <div class = "container row">
    <div class="col-lg-8">
      <p class="text">
        Welcome to our to-do list website! Our mission is to help you stay organized, focused, and productive by providing you with a simple yet powerful tool for managing your tasks and projects.

        We understand how overwhelming it can be to juggle multiple responsibilities and deadlines, which is why we
        created this platform to make your life easier.

        Our platform is designed to be user-friendly and intuitive, so you can start using it right away without any
        training. Whether you're a student, a professional, a parent, or just someone who wants to stay on top of their
        daily tasks, our to-do list website has everything you need to stay organized and focused.

With our platform, you can create tasks, set priorities, deadlines, and reminders, and track your progress in real-time. You can also collaborate with others, share tasks, and delegate responsibilities, making it an ideal tool for teams and projects of all sizes.
     </p>
    </div> 
      <div class="col-lg-4">
        <img src="../../assets/Avatar/juicy-team-analyzes-graphs-and-diagrams.gif" type="image" id="im">
      </div> 
    </div>
</div>
<div class="head2">
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../../assets/Avatar/WhatsApp Image 2023-03-14 at 11.26.37 PM.jpeg" alt="Thumbnail Image" class="imo">
                    <h4 class="title1">Prabu N</h4>
                      <p class="category text-primary">Developer</p>
                      <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                </div>
              </div>
                <div class="col-md-4">
                    <div class="team-player">
                      <img src="../../assets/SHRI123.jpg" alt="Thumbnail Image" class=" imo">
                        <h4 class="title1">Shrinivas G C</h4>
                          <p class="category text-primary">Developer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                              <a href="#">links</a> for people to be able to follow them outside the site.</p>
                              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                </div>
                </div>
                  <div class="col-md-4">
                      <div class="team-player">
                        <img src="../../assets/IMG_20221209_212257_447.jpg" alt="Thumbnail Image" class="imo">
                          <h4 class="title1">Vinayak Solanki</h4>
                          <p class="category text-primary">Developer</p>
                          <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                      </div>
                  </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="head3">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="conatct">Contact</h2>
            <p class="contact">Welcome to our to-do list website! We're glad you're here and we appreciate your interest in reaching out to us.
            If you have any questions, comments, or suggestions about our website or services, please don't hesitate to get in touch. We're always happy to hear from our users and we're committed to providing you with the best possible experience.
            </p>
          <div class="contact-info-icon">
            <i class="fas fa-home"></i>
          </div>
          <div class="contact-info-content">
            <h4>Address</h4>
            <p>4671 GR Tech Park,<br/> Vayu Building, Bengaluru, <br/>530068</p>
          </div>
          <div class="contact-info-icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="contact-info-content">
            <h4>Phone</h4>
            <p>561-456-2321</p>
          </div>
          
          <div class="contact-info-content">
            <h4>Email</h4>
            <p>todolist@gmail.com</p>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="../../assets/Avatar/bloom-woman-working-on-computer-and-having-phone-conversation.gif" type="image" id="im1">
        </div> 
    </div>
  </div>
</div>
  <div class="footer-basic">
    <footer>
      <div class="row ">
       <div class="col-md-4">
        <img src="../../assets/Screenshot (598)_edited.png" class="logo">
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4 " id="social" ><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i></a><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"></i>
        </a> <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-google"></i>
        </a><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i>
        </a><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
      <p class="copyright">Company Name © 2023</p>
  </footer>
</div>
<router-outlet></router-outlet>


<router-outlet></router-outlet>
