body{
     
     
    background-image: url(../../assets/rose-gold-wallpaper-20082112414938.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center;
      position: relative;
      width: 100%;
      height: 100vh;
     
}
.all{
    display: flex;
    width: 1200px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 2px 50px rgba(46, 54, 68, 0.03);
    top: 150px;
    left: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 640px;
    background-color: #F2D1D1;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 700px;
    height: auto;

}

 
.card{
    margin-top: 50px;
    margin-left: 100px;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    background-color: #C6DCE4 !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
    display: flex;
    position:absolute;
    bottom: 10px;
    border-top: 0 !important;
    align-content: end;
    width: 200px;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    width: auto;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: rgb(67, 77, 81) !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: auto !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
input{
    width: 390px;
    height: 30px;
}
button{
    border-radius: 5px;
    border: 2px rgb(152, 97, 194) ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;

}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
/* #action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 276px){ }*/
.contacts_card{
margin-bottom: 15px !important;
}

.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
     
    font-size: 20px;
    scroll-margin-block-end: end;
    /* margin-top: 200px; */
  }
  .to {
    background-color: #2095FE;
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    color: #fff;
    /* text-align: end;  */
    width: fit-content;   
    max-width: 70%;
    margin-left: auto;
    margin-right: 1%;
    /* margin-top: 200px;  */
  }
  .message.from {
    width:fit-content;
    max-width: 70%;
    background-color: #fff;
    color: #363636;
    text-align: left;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: 2px;
  }