
<diV>
  <video class="video" autoplay muted loop>
    <source src="../../assets/Avatar/monument-valley-310.mp4" >
  </video>
 
  <section>
    
    <div class="section-header">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Welcome to our to-do list website! We're glad you're here and we appreciate your interest in reaching out to us.

            If you have any questions, comments, or suggestions about our website or services, please don't hesitate to get in touch. We're always happy to hear from our users and we're committed to providing you with the best possible experience.
            
            To reach us, you can simply contact us on the email and the number given below. We'll do our best to get back to you as soon as possible.
            
            Thank you for choosing our to-do list website.</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>4671 GR Tech Park,<br/> Vayu Building, Bengaluru, <br/>530068</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>561-456-2321</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Email</h4>
             <p>todolist@gmail.com</p>
            </div>
          </div>
        </div>
        
        
        
      </div>
    </div>
  </section>
  
</diV>
