<div class="head">
  <div class="container"> 
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/Avatar/bloom-man-types-on-a-laptop-and-generates-an-idea.gif" type="image" id="im1">
        </div>
  </div>

  <div *ngIf="logins">
    <div class="loginbox">
      
    <h1>Reset Password</h1>
    <form (ngSubmit)="resetpassword()" [formGroup]="reset">
      <div>
        <p>Password</p>
        <input type="password" name="" placeholder="" name="eventpassword" formControlName="password">
        
        <mat-error *ngIf="password?.errors?.['pattern']">
          Password should have min 8 letter password, with at least a symbol, upper and lower case letters
          and a number.
      </mat-error>
      </div>
      <div>
        <p>Confirm Password</p>
        <input type="password" name="" placeholder="" name="eventconfirmpassword" formControlName="confirmpassword">
        <mat-error class="error" *ngIf="password?.value !=confirmpassword?.value">
          Password and Confirm Password are not matching
        </mat-error>
        
      </div>
        <div class="black">
        <button mat-button id="but"  type="submit">Ok</button> <br><br>
        </div>
        
    </form>
     </div>
     </div>
     <div *ngIf="logout">
     <div class="loginbox" id="log">
      
      <h1>Thank You..!</h1>
      <h3>Your password update successfully..</h3>
          <div class="black">
          <button mat-button id="but1" routerLink="/home" type="submit">OK</button> <br><br>
          </div>

      </div>
      </div>
      <router-outlet></router-outlet>
    <!-- <div *ngIf="next" class="loginbox">
        <form (ngSubmit)="resetpassword()" [formGroup]="reset">
            <div>
              <p>New Password</p>
              <input type="password" name="" placeholder="Enter Email" name="eventpassword" formControlName="password">
              <mat-error *ngIf="password?.errors?.['required']">
                Password is required.
            </mat-error>
            <mat-error *ngIf="password?.errors?.['pattern']">
             Password should have min 8 letter password, with at least a symbol, upper and lower case letters
             and a number.
         </mat-error>
            </div>
            <div>
              <p>Conform Password</p>
              <input type="password" name="" placeholder="Enter Password" name="eventconfirmpassword" formControlName="confirmpassword">
              <ng-container *ngIf="password?.value">
                <mat-error *ngIf="password?.value !=confirmpassword?.value">

                  Password and Conform Password are not matching
                 </mat-error>
               </ng-container>
            </div>
              <div class="black">
              <button mat-button color="white" id="submit" [disabled]="!reset.valid" type="submit">Login</button> <br><br>
              </div>
       
          </form>
    </div>
    <div *ngIf="!next" class="loginbox1">
        <h1>Thank You..!</h1><br>
        <h3>Your password update successfully..</h3>
        <button mat-button routerLink="/login" class="oh" >OK</button>
    </div> -->
</div>

