.box{
  padding-top: 110px;
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;
  
}
#body1{
  /* background-attachment:fixed;
  height: auto;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(
    to right,
    rgba(7, 187, 193, 1), rgb(6, 113, 117),rgb(85, 7, 203,1),
    #7e40f6,
    rgb(248, 78, 225,0.5),
    rgba(12, 64, 116, 1),rgb(20, 2, 91)
  ); */
  /* background-size: 300%,300%;
  animation: color 30s ease-in-out infinite; */ 
  /* background:transparent; */
background: transparent;

}
@keyframes color {
  0%{background-position: 0 50%;}
   
  50%{background-position: 100% 50%;}
   
  100%{background-position: 0 50%;}
  
}
.search-container{
  background: white;
  height: 40px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
 
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
  width: 400px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas{
  color: #5cbdbb;
 
}
.search-btn{
  height: 15px;
  padding-bottom: 45px;
}

@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
}

.mask-custom {
  width: 600px;
  height: 600px;
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  margin-top: 30px;
  margin-left: 230px;
}