<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Welcome to our to-do list website! Our mission is to help you stay organized, focused, and productive by providing you with a simple yet powerful tool for managing your tasks and projects.

We understand how overwhelming it can be to juggle multiple responsibilities and deadlines, which is why we created this platform to make your life easier.

Our platform is designed to be user-friendly and intuitive, so you can start using it right away without any training. Whether you're a student, a professional, a parent, or just someone who wants to stay on top of their daily tasks, our to-do list website has everything you need to stay organized and focused.

With our platform, you can create tasks, set priorities, deadlines, and reminders, and track your progress in real-time. You can also collaborate with others, share tasks, and delegate responsibilities, making it an ideal tool for teams and projects of all sizes.

We believe that staying organized and productive should be simple and enjoyable, which is why we're constantly updating our platform to meet the evolving needs of our users. We're committed to providing you with the best possible experience, and we're always here to help if you have any questions or feedback.

Thank you for choosing our to-do list website, and we look forward to helping you achieve your goals and stay on track!
            </p>
            <div class="skills">
                <button>Contact Us <a href="" routerLink="contact-us"></a></button>
            </div>
        </div>
    </div>
</body>
